.blog {
  width: 60%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 1vmax 2vmax;
  margin: 2vmax;
}

.blogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vmax;
}
.blogHeader > div > button {
  border-radius: 100%;
  color: rgba(0, 0, 0, 0.767);
  transition: all 0.3s;
}
.blogHeader > div > button:hover {
  transform: translateY(-4px);
}

.blogHeader > div > button > svg {
  font-size: 1.7vmax;
}
.blog > img {
  width: 100%;
}

.blogDetails {
  display: flex;
  padding: 1vmax;
}

.blogDetails > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 1vmax;
}

.DialogBox {
  min-width: 500px;
  height: 100vh;
  padding: 2vmax;
}
.DialogBox .updateHeading {
  font-size: 2rem;
  text-align: center;
}
.captionForm {
  display: flex;
  margin: 1vmax;
}
.captionForm > input {
  width: 100%;
  padding: 1vmax 2vmax;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 30px 0 0 30px;
  font: 100 1vmax "Roboto", sans-serif;
  font-size: 1rem;
}
.captionForm > button {
  border-radius: 0%;
}

@media screen and (max-width: 600px) {
  .blog {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding: 0 0 4vw;
    margin: 0;
  }

  .blogFooter > button > svg {
    font-size: 8vw;
  }
  .DialogBox {
    min-width: 300px;
    height: 100vh;
    padding: 1vmax;
  }
  .DialogBox .updateHeading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .blog {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding: 0 0 4vw;
    margin: 0;
  }

  .blogFooter > button > svg {
    font-size: 8vw;
  }
  .DialogBox {
    min-width: 200px;
    height: 100vh;
    padding: 1vmax;
  }
  .DialogBox .updateHeading {
    font-size: 1rem;
  }
}
